body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
}
header{
    background-color: #1d1d2c;
    color: white;
    text-align: center;
    padding: 40px;
}

header h1{
    margin-bottom: 20px;
    font-size: 50px;
}
nav a{
    color: white;
    text-decoration: none;
    margin: 15px;
    font-size: 22px;
}
nav a:hover{
    color: lightgray;
}
main{
    width: 90%;
    margin: auto;
}
section{
    background-color: white;
    padding: 30px;
    margin-top: 30px;
}
section h2{
    font-size: 40px;
    color: #222;
}
section p{
    font-size: 24px;
    color: #555;
}
hr{
    margin-top: 30px;
    border: 1px solid #ddd;
}
footer{
    background-color: #1d1d2c;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
    font-size: 20px;
}